[submodule "third_party/doomgeneric"]
	path = third_party/doomgeneric
	url = https://github.com/ulx3s/doomgeneric.git
	update = checkout
	branch = ulx-doom

[submodule "third_party/Hazard3"]
	path = third_party/Hazard3
	url = https://github.com/ulx3s/Hazard3.git
	branch = ulx-doom
	update = checkout