[submodule "third_party/doomgeneric"]
	path = third_party/doomgeneric
	url = https://github.com/ulx3s/doomgeneric.git
	update = checkout
	branch = ulx-doom

# When changing, refresh and confirm:
#
#   git submodule sync -- third_party/Hazard3
#   git -C third_party/Hazard3 stash push -u -m "Hazard3 local changes before upstream update 20YY-MM-DD"
#
#   git -C third_party/Hazard3 switch ulx-doom-dev 2>/dev/null || git -C third_party/Hazard3 switch -c ulx-doom-dev --track origin/ulx-doom-dev
#
#   git submodule update --init --remote third_party/Hazard3
#   git -C third_party/Hazard3 remote -v
#   git -C third_party/Hazard3 branch --show-current
#   git -C third_party/Hazard3 log -1 --oneline

#[submodule "third_party/Hazard3"]
#	path = third_party/Hazard3
#	url = https://github.com/ulx3s/Hazard3.git
#	branch = ulx-doom
#	update = checkout

[submodule "third_party/Hazard3"]
	path = third_party/Hazard3
	url = https://github.com/gojimmypi/Hazard3.git
	branch = ulx-doom-dev
	update = checkout